.ParticipantsTable .years {
  text-align: right;
}
.ParticipantsTable .tenth {
  color: #828282;
  font-size: smaller;
}
.ParticipantsTable .tenth:before {
  content: '.';
}
.ParticipantsTable span[role=img] {
  cursor: pointer;
}
